body {
    background-image: url(/cover/plumas.jpg);

}

.container{
    margin-top: 3%;
      /* letra */
      color: rgb(35, 34, 36);
      font-size: larger;
}
#main, #reproductor{
    text-align: center;
}

#email, #password{
    width: 20vw;
    text-align: center;
}

li{
    list-style: none;
}

#botones{
    display: flex;
    justify-content: center;    
}
/* botones del reproductor */
#play, #adelanta, #retrocede, #stop, #mute{
    margin: 1% 2%;
    color: #222503;
    font-size: xx-large;
}
/* BLOCK DE LISTA DE CANCIONES */
.boxListas{
    height: 150px;
    width: 70%;
    overflow-y: auto;
}
/* div de las canciones en playlist */
#canciones, #favoritos, #myPlaylist{
    color: #0a0a0a;
}
/* botones de las listas */
.playSong, .favoritos, .addPlaylist{
    color: #050505;
   font-size: x-large;
}
/* contenedor de imagen de portada */
#coverDiv{
    margin: 0 auto;
    width: 40%;
    height: 50%;

}