body {
    background-image: url("cover/plumas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    margin-top: 3%;
      /* letra */
      color:  #9e8989;
      font-size: larger;
      font-weight: 400;
}
#main, #reproductor{
    text-align: center;
    font-weight: 600;
}

#email, #password{
    width: 20vw;
    text-align: center;
}

li{
    list-style: none;
}

#botones{
    display: flex;
    justify-content: center;    
}
/* botones del reproductor */
#play, #adelanta, #retrocede, #stop, #mute{
    margin: 0 4px;
    padding: 1px 5px;
    color: #6e2057;
    font-size: x-large;
    background-color: rgba(21, 16, 22, 0.5);
    border: 2px solid #9e8989;
    border-radius: 20%;
}
/* BLOCK DE LISTA DE CANCIONES */
.boxListas{
    height: 150px;
    width: 70%;
    overflow-y: auto;
    
}
/* div de las canciones en playlist */
#canciones, #favoritos, #myPlaylist{
    color: #9e8989;
}
/* botones de las listas */
.playSong, .favoritos, .addPlaylist{
    color: #6e2057;
   font-size: x-large;
}
/* contenedor de imagen de portada */
#coverDiv{
    margin: 0 auto;
    max-width: 237px;
    max-height: 213px;

}
.encabezado{
    background-color: rgba(21, 16, 22, 0.4);
}

#searchButton{
    border-radius: 10%;
    background-color: #973f7d;
    border: 1px solid ;
    background-color: #973f7d;
    color: #9e8989;
    font-weight: 600;
}

/* index */

#main {
    color: #9e8989;
}

